[Unit]
Description=Vault Backup NFS Mount
After=network-online.target
Wants=network-online.target

[Mount]
What=192.168.0.100:/mnt/Vault/<user>/Backup
Type=nfs
Options=nolock,noatime,async,soft,timeo=30,retry=5

[Install]
WantedBy=multi-user.target
